.header{
	background-color: orange;
}
.header .mui.mui-action-back{
	color: white;	
}
.header .mui-title{
	color: white;
}
.header .download{
	display: block;
	float: right;
	height: 44px;
	line-height: 44px;
	}
.header .download img{
	height: 34px;
	vertical-align: middle;
}
#refreshContainer{
	top:48px;
}
.mui-table-view li{
	padding: 10px;
	border-bottom: 1px solid #000;
}
.mui-table-view img{
	width: 100px;
	height: 100px;
	float: left;
}

.mui-media-body .ph{
	height: 70px;
}
.product{
	color: #000;
}
.price{
	color: red;
}
.shop{
}
.mui-ellipsis{
}
.comment{
	float: right;
	line-height: 21px;
}
.comment i{
	display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/comment.svg);
    background-size: cover;
    vertical-align: middle;
}
.bottom .foot{
	width: 100%;
	margin-top: 5px;
	height: 34px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.bottom .foot .login,.bottom .foot .sign{
	display: block;
	line-height: 34px;
	width: 30%;
	float: left;
	text-align: center;
	box-sizing: border-box;
	border-right: 1px solid #999;
}
.bottom .foot .rtop{
	display: block;
	line-height: 34px;
	width: 40%;
	float: left;
	text-align: center;
}
.bottom .footer p{
	text-align: center;
}
